/*.genres__list{
  &_item{
    width: 300px;
    height: 670px;
    //background: #C4C4C4;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 70px;
    &:last-child{
      margin-right: 0;
    }
   !* &.focus {
      transform: scale(1.05);
      box-shadow: 10px 10px 40px #20BCC6;
    }*!
  }
  &_picture{
    width: 105%;
    height: 630px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
  }
  &_text{
    margin: 0;
    z-index: 10;
    padding-top: 45px;
    position: absolute;
    color: #ffffff;
    bottom: 0;
    width: 300px;
    height: 130px;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(180deg, #15394C 0%, #020C13 100%);
  }
}*/

.nav.nav-focused{
  transform: scale(1.05);
  box-shadow: 10px 10px 40px #20BCC6;
}
