.movies-items{
  width: 2020px;
  //height: 557px;
  //overflow: hidden;
  margin: -160px 0 0 110px;
}

.collection{
  overflow: hidden;
  width: 1918px;
  height: 1078px;
  &_title{
    font-size: 38px;
    font-weight: 700;
    margin: 10px 0;
  }
}
