.genres{
  margin: 287px 70px 123px 70px;
  &__list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      display: block;
      background-image: url('./image/left.svg');
      height: 98px;
      width: 26px;
      top: 50%;
      left: -35px;
      transform: translate(0, -50%);
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      background-image: url('./image/right.svg');
      height: 98px;
      width: 26px;
      top: 50%;
      right: -35px;
      transform: translate(0, -50%);
    }
  }
}

