.genres{
  margin: 287px 70px 123px 70px;
  &__list{
    //display: flex;
    //justify-content: space-around;
    //flex-wrap: wrap;
    //padding: 0;
    margin: 0;
    position: relative;
    overflow-x: visible;
    /* overflow-y: hidden; */
    overflow-y: visible;
    height: 739px;
    padding: 26px 0 0 0;
    width: 1850px;
    white-space: nowrap;
    .prev{
      //content: '';
      cursor: pointer;
      position: absolute;
      display: block;
      background-image: url('./image/left.svg');
      height: 98px;
      width: 26px;
      top: 50%;
      left: -35px;
      transform: translate(0, -50%);
      pointer-events: all;
    }
    .next{
      //content: '';
      cursor: pointer;
      position: absolute;
      display: block;
      background-image: url('./image/right.svg');
      height: 98px;
      width: 26px;
      top: 50%;
      right: -35px;
      transform: translate(0, -50%);
      pointer-events: all;
    }
  }
}

