@import "scss/_mixins/font-face";
@import "scss/vars";
@import "scss/typography";

body {
	font-family: $default-font;
	margin: 0;
	padding: 0;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	position: absolute;
	background-color: #0e151b;
	top: 0;
	left: 0;
	color: $default-text-color;
}
#Macid,
#oipfConfiguration{
	opacity: 0
}

