.code-item {
  width: 180px;
  display: none;
  font-family: 'AvenirDemi', 'Tahoma';
  text-align: center;
  font-size: 32px;
  border-radius: 42px;
  &.visible{
    display: block;
  }
  &:focus,
  &.selected {
    display: block;
    background-color: rgba(32, 188, 198, 1);
    line-height: 82px;
    height: 85px;
    outline: none;
  }
  &.selected {
    background-color: initial;
    &:focus {
      background-color: rgba(32, 188, 198, 1);
    }
  }
}