.code-item {
  width: 180px;
  display: none;
  font-family: 'AvenirDemi', 'Tahoma';
  text-align: center;
  font-size: 32px;
  border-radius: 42px;
  &.visible {
    display: block;
  }
  &:focus,
  &.selected,
  &.nav-focused {
    display: block;
    background-color: rgba(32, 188, 198, 1);
    padding: 22px 0;
    outline: none;
  }
  &.selected {
    background-color: initial;
  }
}
